.scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #68347d;
  border: 1px solid #68347d;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s ease;

  .arrow-top {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    color: #e6e6e6;
  }

  &:hover {
    background-color: #ba8f44;
    border: 1px solid #ba8f44;

    .arrow-top {
      color: #fff;
    }
  }
}

//   @media only screen and (max-width: 1023px) {
//     .scroll-to-top {
//       width: 30px;
//       height: 30px;
//       border-radius: 50%;
//       background-color: #b57d33;
//       right: 10px;
//       bottom: 10px;

//       .arrow-top {
//         font-size: 14px;
//         padding: unset;
//       }
//     }
//   }
