.title-cont {
  border-bottom: 1px solid #e6e6e6;
  margin: 0 0 10px;

  .main-title {
    padding: 14.4px 0;
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px 0;
  }
}

.address-cont {
  padding: 10px 20px;
}
