.dropdown-cont {
  width: 180px;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 2px #70497f6a;
  padding: 7px 0;
  margin: 20px 0 0;
  top: 70%;
  right: 50%;
  transform: translateX(50%);

  .dropdown-option {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0.4rem 2.1rem;
    clear: both;
    white-space: nowrap;
    background: none;
    color: #222;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: #68347d;
      color: #fff;
    }
  }
}

//   @media only screen and (max-width: 600px) {
//     .user-dropdown {
//       display: none;
//     }
//   }
