.save-btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;

  .save-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    background-color: #68347d;
    border: 1px solid #68347d;
    border-radius: 5px;
    padding: 12px 40px;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: #fff;
      background-color: #ba8f44;
      border: 1px solid #ba8f44;
    }
  }
}
