.title-cont {
  border-bottom: 1px solid #e6e6e6;
  margin: 0 0 10px;

  .main-title {
    padding: 14.4px 0;
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px 0;
  }
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  margin: 0 auto;
  gap: 20px;
}

//   @media only screen and (max-width: 600px) {
//     .overview {
//       grid-template-columns: 1fr;
//       margin: 0 auto;
//       gap: unset;
//     }
//   }
